body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.my {
    color: orange;
}

.first {
    display: flex;
    margin-bottom: 50px;
}

.a {
    width: 50%;
    padding: 5%;
}

.a img {
    width: 100%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}

.first {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.two {
    display: flex;
}

.b {
    width: 50%;
    padding: 5%;
}

.b img {
    width: 90%;

}

.two {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    padding-top: 20px;
    margin-top: 5%;
    background-position: right;
}

.tmi {
    display: flex;
    padding: 5%;
}

h2 {
    font-size: 30px
}

.cc {
    width: 45%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 15px;
    box-shadow: 10px 10px 30px black;
}

.tmi {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#jan {
    border-left: 7px solid tomato;
}

#jaan {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;

}